colors- {
  display: flex;
  width: calc(100% - 360px);
  flex-flow: row wrap;

  @media (orientation: portrait) {
    width: calc(100% - 70px);
  }

  color- {
    flex: 1 1 25%;
    position: relative;
    min-width: 10rem;

    &:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: 80%;
    }

    &:not(:hover) div {
      display: none;
      z-index: 0;
    }

    > div {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      box-shadow: 0 0 .5rem rgba(0,0,0,0.38);
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      *+* { margin-top: .25rem; }
    }

    name- {
      font-size: 1rem;
      font-weight: bold;
    }

    hex- {
      font-size: .618rem;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }

    &[normal-text] { color: rgba(255, 255, 255, 0.7); }
    &[dark-text] { color: rgba(0, 0, 0, 0.87); }
    &[dark-strong-text] { color: #000; }
    &[light-text] { color: rgba(255, 255, 255, 0.87); }
    &[light-strong-text] { color: #fff; }
  }
}
