swatch- {
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  height: 100vh;
  width: 360px;
  flex-direction: column;
  border: 2rem solid #fff;
  box-shadow: 0 0 1rem rgba(0,0,0,0.62);
  z-index: 2;
  transition: border 500ms, background 300ms;

  @media (orientation: portrait) {
    width: 300px;
    transform: translateX(230px);
    transition: all 300ms;
    hex-,
    name- {
      transition: opacity 300ms;
      opacity: 0;
    }
    &.open {
      transform: translateX(0);
      hex-,
      name- {
        opacity: 1;
      }
    }
  }

  &:empty {
    background-color: #e51c23;
    border-width: 0;
  }

  color- {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    animation: flexGrow 300ms ease both;

    *+* { margin-top: .25rem; }

    name- {
      font-size: 1rem;
      font-weight: bold;
      animation: fadeIn 1000ms ease both;
    }

    hex- {
      font-size: .618rem;
      animation: fadeIn 1000ms ease both;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }

    &[normal-text] { color: rgba(255, 255, 255, 0.7); }
    &[dark-text] { color: rgba(0, 0, 0, 0.87); }
    &[dark-strong-text] { color: #000; }
    &[light-text] { color: rgba(255, 255, 255, 0.87); }
    &[light-strong-text] { color: #fff; }

    &.remove {
      animation: flexShrink 300ms ease both;
      name-,
      hex- {
        animation: fadeOut 300ms ease both;
      }
    }
  }
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-webkit-keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@-webkit-keyframes flexGrow {
  from { height: 0%; }
  to { height: 100%; }
}

@-webkit-keyframes flexShrink {
  from { height: 100%; }
  to { height: 0%; }
}
